[program:fluentd]
command=/home/{{ ansible_ssh_user }}/.rbenv/versions/2.2.3/bin/fluentd -c /etc/fluent/fluent.conf --no-supervisor
stdout_logfile_maxbytes=1MB
stderr_logfile_maxbytes=1MB
stdout_logfile=/var/log/fluent/%(program_name)s.log
stderr_logfile=/var/log/fluent/%(program_name)s_error.log
autorestart=true
autostart=true
user={{ ansible_ssh_user }}
